.postsBlock {
    padding: 10px;
}

.postsBlock textarea {
    margin: 0 10px 10px 10px;
}

.postsBlock button {
    margin: 0 10px;
    border: 2px solid crimson;
    background-color: crimson;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    box-shadow: darkgrey 1px 1px 0px;
    cursor: pointer;
}

.postsBlock button:hover {
    box-shadow: none;
    cursor: pointer;
}

.posts {
    margin-top: 10px;
}

.textarea {
    width: 450px;
    height: 30px;
    border-radius: 4px;
    border: lightgrey 1px solid;
    resize: none;
}